*
{
  box-sizing: border-box;
}

:root
{
  /* Dark Theme */
  --darkNavBar: #121212;
  --darkTextBack: #323232;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.navContainer
{
  display: flex;
  flex-direction: row;
  background-color: var(--darkNavBar);
  /* Vertical positioning of all container elements*/
  align-items: center;
  /* Top/bottom, left/right */
  padding: 10px 0px;

  /* For mobile view change the flex-direction to column  */
}

.navContainer h1
{
  color: white;
  font-size: 36px;
  display: flex;
  padding: 0px 15px;
  justify-content: flex-end;
  background-color: var(--darkTextBack);
  /* Fixed  */
  width: 300px;

}

#navBar
{
  display: flex;
  flex-direction: row;
  width: 80%;
  /* Vertical positioning */
  justify-content: flex-end;
  /* could use alternative */
  margin: 0;
}

#navBar a
{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 18px;
  color: white;
  /* background-color: var(--darkTextBack); */
  /* Top/bottom, left/right */
  padding: 0px 3%;
  text-decoration: none;
  /* border: solid white 1px; */
  margin: 10px;
  border-bottom: solid white 2px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
}

p
{
  margin: 0;
}


/* Media queries */
@media only screen and (max-width: 979px)

/* Larger phone screens */
{

  .navContainer
  {
    flex-direction: column;
    padding: 0px;
    margin: 0;
  }

  .navContainer h1
  {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 10px;
  }

  #navBar
  {
    /* width: 80%; */
    justify-content: center;
    align-items: center;
  }

  #navBar a
  {
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  body
  {
    background-color: lightblue;
  }
}