*
{
  box-sizing: border-box;
}

:root
{
  /* TODO: Change for IE support */
  /* Dark Theme */
  --darkNavBar: #121212;
  --darkTextBack: #323232;
  --standardMargin: 30px;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.navContainer
{
  display: flex;
  flex-direction: row;
  background-color: var(--darkNavBar);
  /* Vertical positioning of all container elements*/
  align-items: center;
  /* Top/bottom, left/right */
  padding: 10px 0px;
}

.navContainer h1
{
  color: white;
  font-size: 36px;
  display: flex;
  padding: 0px 15px;
  justify-content: flex-end;
  background-color: var(--darkTextBack);
  /* Fixed  */
  width: 300px;

}

#navBar
{
  display: flex;
  flex-direction: row;
  /* TODO: Change to match positioning of grid/main elements */
  width: 100%;
  justify-content: flex-end;
  padding: 0;

}

#navBar a
{
  display: flex;
  font-size: 18px;
  color: white;
  /* background-color: var(--darkTextBack); */
  margin: 0% var(--standardMargin);
  padding: 0px 10px;
  text-decoration: none;
  /* border: solid white 1px; */
  border-bottom: solid white 2px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  font-size: 42px;
}

p
{
  margin: 0;
  padding: 10px;
}

.hero-banner
{
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30vh;
  /* border-top: solid rgba(0, 0, 0, 0.579) 5px; */
  /* Tint Image */
  background-color: rgba(36, 205, 45, 0.411);
  background-blend-mode: multiply;

  /* Layout */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.banner-text
{
  /* TODO Improve how this scales */
  color: white;
  background-color: var(--darkTextBack);
  padding: 15px;
  margin: var(--standardMargin) var(--standardMargin);
}

.page-section
{
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  width: 100%;
  margin: 5rem 0rem;
}

.page-section h2
{
  border-right: solid black 5px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding: 3rem 3rem;
  width: 200px;
}

.content-container
{

  margin: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.page-wrapper
{
  margin: 3rem;
}

#workGrid
{

  display: grid;

  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "feature feature"
    "project-2 project-3"
    "project-4 project-5"
  ;
}

.workGridArea
{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 18px;
  width: fit-content;
  /* border-bottom: 5px solid rgba(36, 205, 45, .7); */
}

#feature
{
  grid-area: feature;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project-2
{
  grid-area: project-2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project-3
{
  grid-area: project-3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project-4
{
  grid-area: project-4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#project-5
{
  grid-area: project-5;
  background-image: url("../images/02-run-buddy.jpg");
}

.workGridArea
{
  border: 5px solid black;
  transition: transform .2s;
  /* Animation */
}

.workGridArea:hover
{
  transform: scale(1.02);
}

.content-container.footer
{
  text-decoration: none;
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Follow page spacing */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content-container a
{
  flex-wrap: wrap;
  padding: 10px;
}

.content-container img
{
  width: 200px;
  height: 200px;
  margin: 0 auto;

}

.photo
{
  margin: 1rem auto;
}

/* Media queries */
@media only screen and (max-width: 979px)
{
  .navContainer
  {
    flex-direction: column;
    padding: 0px;
  }

  .navContainer h1
  {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 10px;
  }

  #navBar
  {
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  #navBar a
  {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
  }

  .hero-banner
  {
    justify-content: center;
  }

  .banner-text h2
  {
    /* Reduce size of welcome text for smaller devices */
    font-size: 24px;
  }

  .a
  {
    font-size: 56px;
  }

  /* Adjust to better fit content on smaller screens */
  .page-section
  {
    flex-direction: column;
    width: 100%;
  }

  .page-section h2
  {
    justify-content: flex-start;
    width: 100%;
    border-right: 0;
    border-bottom: solid 5px;

    /* TODO: Improve standard styling */
    padding: 0;
    margin-bottom: 10px;
  }

  .content-container
  {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  p
  {
    margin: 0;
    padding: 0;
  }

  body
  {
    background-color: skyblue;
  }

}

@media only screen and (max-width: 769px)
{
  .content-container.footer
  {
    flex-direction: column;
  }

  body
  {
    background-color: violet;
  }

  .workGridArea
  {
    height: 150px;
  }

  #workGrid
  {
    display: flex;
    flex-direction: column;
  }
}