*
{
  box-sizing: border-box;
}

:root
{
  /* Variables here (e.g. colours etc) */
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.navContainer
{
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  /* Vertical positioning of all container elements*/
  align-items: center;
  /* Top/bottom, left/right */
  padding: 10px 0px;
  /* Redundant? */
  width: 100%;
}

.navContainer h1
{
  display: flex;
  /* border: solid black 5px; */
  padding: 0px 10px;
  justify-content: flex-end;
  background-color: rgba(255, 0, 0, 1);
  width: 300px;

}

#navBar
{
  display: flex;
  flex-direction: row;
  width: 80%;
  /* Vertical positioning */
  justify-content: flex-end;
  /* could use alternative */
  margin: 0;
}

#navBar a
{
  background-color: rgba(255, 0, 0, 1);
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
}

p
{
  margin: 0;
}