*
{
  box-sizing: border-box;
}

:root
{
  /* Setting consistent values for certain elements */
  --darkNavBar: #121212;
  --darkTextBack: #323232;
  --standardMargin: 20px;
  --standardPadding: 20px;
  --borderSize: 5px;
  --borderLinkSize: 2px;

}

body
{
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

.navContainer
{
  display: flex;
  flex-direction: row;
  background-color: var(--darkNavBar);
  align-items: center;
  padding: var(--standardPadding) 0px;
}

.navContainer h1
{
  color: white;
  font-size: 36px;
  display: flex;
  padding: 0 var(--standardPadding);
  justify-content: flex-end;
  background-color: var(--darkTextBack);
  width: 300px;
}

#navBar
{
  display: flex;
  flex-direction: row;
  /* TODO: Change to match positioning of grid/main elements */
  width: 100%;
  justify-content: flex-end;
}

#navBar a
{
  text-decoration: none;
  display: flex;
  font-size: 18px;
  color: white;
  /* background-color: var(--darkTextBack); */
  margin: 0 var(--standardMargin);
  padding: 0 var(--standardPadding);
  border-bottom: solid white var(--borderLinkSize);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  font-size: 42px;
}

p
{
  padding: var(--standardPadding);
}

.hero-banner
{
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30vh;
  /* border-top: solid rgba(0, 0, 0, 0.579) 5px; */
  /* Tint Image */
  background-color: rgba(36, 205, 45, 0.411);
  background-blend-mode: multiply;

  /* Layout */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.banner-text
{
  /* TODO Improve how this scales */
  color: white;
  background-color: var(--darkTextBack);
  padding: var(--standardPadding);
  margin: var(--standardMargin);
}

.page-section
{
  display: flex;
  flex-direction: row;
  padding: var(--standardPadding);
  justify-content: center;

  width: 100%;
  margin: 5rem 0rem;
}

.page-section h2
{
  border-right: solid black var(--borderSize);
  text-align: right;
  display: flex;
  justify-content: flex-end;

  padding: 3rem 3rem;
  width: 200px;
}

nav a:hover
{
  transform: scale(1.05);
}

.content-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0rem 3rem;
  width: 60%;
}

.page-wrapper
{
  margin: 3rem;
}

#workGrid
{
  display: grid;

  grid-template-rows: 250px 250px 250px 250px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "feature feature"
    "feature feature"
    "project-2 project-3"
    "project-4 project-5";
}

.workGridArea
{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;

  border: solid black var(--borderSize);
  transition: transform 0.2s;
  border-radius: 10px;
}

.workGridArea:hover
{
  transform: scale(1.02);
  box-shadow: inset 0px 0px 8px rgba(0, 255, 0, 0.5),
    0 0 15px rgba(0, 255, 0, 0.5);
}

.heading
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--standardMargin);
  background-color: black;
  padding: var(--standardPadding);
  color: white;
  font-size: 18px;
  width: fit-content;
}

#feature
{
  grid-area: feature;
  background-image: url("../images/horizeon.png");
}

#project-2
{
  grid-area: project-2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project-3
{
  grid-area: project-3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project-4
{
  grid-area: project-4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#project-5
{
  grid-area: project-5;
  background-image: url("../images/02-run-buddy.jpg");
}

.content-container.footer
{
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Follow page spacing */
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.content-container.footer a
{
  color: black;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-bottom: solid black 2px;
}

.content-container.footer a:hover
{
  transform: scale(1.05);
}

.content-container img
{
  /* Centered picture */
  width: 200px;
  height: 200px;
}

.photo
{
  margin: 0 auto;
}

/* Media queries */
@media only screen and (max-width: 979px)
{
  .navContainer
  {
    flex-direction: column;
    padding: 0px;
  }

  .navContainer h1
  {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: var(--standardPadding);
  }

  #navBar
  {
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  #navBar a
  {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
  }

  .hero-banner
  {
    justify-content: center;
  }

  /* Fill content across the screen */
  .page-section
  {
    flex-direction: column;
    width: 100%;
  }

  .page-section h2
  {
    justify-content: flex-start;
    width: 100%;
    border-right: 0;
    border-bottom: solid var(--borderSize);

    /* Reset padding for header elements */
    padding: 0;
    margin-bottom: var(--standardMargin);
  }

  .content-container
  {
    /* Reset values for smaller screen sizes */
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 769px)
{
  .banner-text h2
  {
    font-size: 24px;
  }

  .content-container.footer
  {
    flex-direction: column;
    align-items: flex-start;
  }

  .workGridArea
  {
    height: 150px;
  }

  #workGrid
  {
    display: flex;
    flex-direction: column;
  }
}